html{
    min-height:100%;
    position:relative;
    background:#f2f0eb !important
}

.pointer{
    cursor: pointer;
}

.preview-field {
    color: red
}
.check {
    background: rgba(255,0,0,.2);
    color: red
}

